.window {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window__logo {
  width: 38px;
  height: 38px;
  object-fit: cover;
  margin-top: 56px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.window__logo:hover {
  opacity: 0.7;
}

.window__title {
  margin: 50px 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
}

.window__form {
  max-width: 260px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.window__form-label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  align-self: self-start;
  color: rgba(139, 139, 139, 1);
}

.window__form-item {
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 15px 0 15px 15px;
  background-color: rgba(47, 47, 47, 1);
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  color: rgba(255, 255, 255, 1);
  outline: none;
}

.window__form-item-error {
  align-self: self-start;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  color: rgba(238, 52, 101, 1);
  margin-top: 7.9px;
}

.window__form-item-error:last-of-type {
  margin-bottom: 157px;
}

.window__form-item-error-log {
  padding-bottom: 88px;
}

.window__form-submit-btn {
  width: 260px;
  height: 45px;
  box-sizing: border-box;
  padding: 0;
  border: none;
  border-radius: 3px;
  background-color: rgba(66, 133, 244, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.window__form-submit-btn:hover {
  opacity: 0.8;
}

.window__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: rgba(139, 139, 139, 1);
  margin: 14px 0 0;
}

.window__link {
  color: rgba(66, 133, 244, 1);
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.window__link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .window__logo-link {
    align-self: flex-start;
  }

  .window__logo {
    align-self: self-start;
    margin: 232px 0 0 186px;
  }

  .window__title {
    align-self: self-start;
    margin: 40px 0 0 186px;
  }

  .window__form {
    max-width: 396px;
    margin-top: 40px;
  }

  .window__form-item-error:last-of-type {
    margin-bottom: 69px;
  }

  .window__form-submit-btn {
    width: 396px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .window__text {
    font-size: 14px;
    line-height: 16.94px;
    margin: 16px 0 0;
  }

  .window__link {
    font-size: 14px;
    line-height: 16.94px;
  }
}

@media screen and (min-width: 1280px) {
  .window__logo {
    margin: 70px 0 0 442px;
  }

  .window__title {
    margin: 40px 0 0 442px;
  }

  .window__form {
    max-width: 396px;
    margin-top: 40px;
  }

  .window__form-item-error:last-of-type {
    margin-bottom: 69px;
  }

  .window__form-submit-btn {
    width: 396px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .window__text {
    font-size: 14px;
    line-height: 16.94px;
    margin: 16px 0 0;
  }

  .window__link {
    font-size: 14px;
    line-height: 16.94px;
  }
}