.promo {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__container {
  max-width: 292px;
  min-height: 586px;
  background-color: rgba(39, 39, 39, 1);
  margin-top: 14px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  margin: 220px 0 212px;
  font-weight: 400;
  font-size: 29px;
  line-height: 37px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .promo {
    min-height: 854px;
  }

  .promo__container {
    max-width: 728px;
    width: 100%;
    min-height: 834px;
    margin-top: 20px;
  }

  .promo__title {
    max-width: 680px;
    margin: 350px 0 314px;
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .promo {
    min-height: 513px;
  }

  .promo__container {
    max-width: 1200px;
    min-height: 493px;
  }

  .promo__title {
    max-width: 730px;
    margin: 160px 0 151px;
    font-size: 50px;
    line-height: 58px;
  }
}