.page-not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-not-found__title {
  margin: 329px 0 0;
  font-weight: 400;
  font-size: 80px;
  line-height: 96.82px;
}

.page-not-found__subtitle {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.page-not-found__link {
  margin-top: 284px;
  color: rgba(66, 133, 244, 1);
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  transition: opacity 0.2s;
  cursor: pointer;
}

.page-not-found__link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .page-not-found__title {
    margin: 408px 0 0;
    font-size: 140px;
    line-height: 169.43px;
  }

  .page-not-found__subtitle {
    margin: 5px 0 0;
    font-size: 16px;
    line-height: 19.36px;
  }

  .page-not-found__link {
    margin-top: 184px;
    font-size: 14px;
    line-height: 16.94px;
  }
}

@media screen and (min-width: 1280px) {
  .page-not-found__title {
    margin: 246px 0 0;
  }
}