.techs {
  width: 100%;
  min-height: 651px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: -0.04em;
  margin: 70px 0 0 18px;
  align-self: flex-start;
}

.techs__line {
  max-width: 284px;
  width: 100%;
  background-color: rgba(218, 218, 218, 1);
  height: 1px;
  margin-top: 28px;
}

.techs__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36.31px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 60px 0 0;
}

.techs__text {
  max-width: 292px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 24px 0 0;
}

.techs__list {
  max-width: 178px;
  width: 100%;
  list-style: none;
  margin: 50px 0 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 84px);
  grid-template-rows: repeat(4, 57px);
  gap: 10px;
}

.techs__item {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  letter-spacing: -0.04em;
  text-align: center;
  background-color: rgba(48, 48, 48, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .techs {
    min-height: 567px;
    background-color: rgba(39, 39, 39, 1);
  }

  .techs__title {
    font-size: 22px;
    line-height: 26.63px;
    margin: 90px 0 0 50px;
  }

  .techs__line {
    max-width: 668px;
    margin-top: 23px;
  }

  .techs__subtitle {
    font-size: 50px;
    line-height: 58px;
    margin: 80px 0 0;
  }

  .techs__text {
    max-width: 460px;
    font-size: 12px;
    line-height: 18px;
    margin: 22px 0 0;
  }

  .techs__list {
    max-width: 648px;
    margin: 83px 0 0;
    grid-template-columns: repeat(7, 84px);
    grid-template-rows: 57px;
  }
}

@media screen and (min-width: 1280px) {
  .techs {
    min-height: 625px;
  }

  .techs__title {
    margin: 100px 0 0 70px;
  }

  .techs__line {
    max-width: 1140px;
  }

  .techs__subtitle {
    margin: 90px 0 0;
  }

  .techs__text {
    font-size: 14px;
    line-height: 20px;
    margin: 26px 0 0;
  }

  .techs__list {
    max-width: 690px;
    margin: 100px 0 0;
    grid-template-columns: repeat(7, 90px);
    grid-template-rows: 60px;
  }

  .techs__item {
    font-size: 14px;
    line-height: 16.94px;
  }
}