.about-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: -0.04em;
  margin: 70px 0 0 14px;
  align-self: flex-start;
}

.about-me__line {
  max-width: 292px;
  width: 100%;
  background-color: rgba(218, 218, 218, 1);
  height: 1px;
  margin-top: 28px;
}

.about-me__container {
  max-width: 292px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-me__avatar {
  width: 292px;
  height: 352px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-top: 60px;
}

.about-me__text-container {
  max-width: 292px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me__name {
  font-weight: 400;
  font-size: 30px;
  line-height: 36.31px;
  letter-spacing: -0.04em;
  margin: 40px 0 0;
  align-self: flex-start;
}

.about-me__description {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  align-self: flex-start;
  margin: 20px 0 0;
}

.about-me__text {
  max-width: 292px;
  min-height: 112px;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  margin: 20px 0 0;
}

.about-me__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  align-self: flex-start;
  margin: 40px 0 0;
  transition: opacity 0.2s linear;
}

.about-me__link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .about-me__title {
    font-size: 22px;
    line-height: 26.63px;
    margin: 90px 0 0 50px;
  }

  .about-me__line {
    max-width: 668px;
    margin-top: 23px;
  }

  .about-me__container {
    max-width: 668px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .about-me__avatar {
    width: 255px;
    height: 307px;
    margin-top: 66px;
  }

  .about-me__text-container {
    max-width: 364px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    margin: 66px 0 0;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
    margin: 16px 0 0;
  }

  .about-me__text {
    max-width: 364px;
    min-height: 108px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__link {
    margin: 87px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .about-me__title {
    margin: 110px 0 0 70px;
  }

  .about-me__line {
    max-width: 1140px;
  }

  .about-me__container {
    max-width: 1140px;
  }

  .about-me__avatar {
    width: 270px;
    height: 327px;
  }

  .about-me__text-container {
    max-width: 600px;
  }

  .about-me__name {
    font-size: 50px;
    line-height: 58px;
  }

  .about-me__description {
    font-size: 18px;
    line-height: 20px;
    margin: 18px 0 0;
  }

  .about-me__text {
    max-width: 600px;
    min-height: 88px;
    font-size: 14px;
    line-height: 22px;
    margin: 26px 0 0;
  }

  .about-me__link {
    margin: 99px 0 0;
  }
}